$primary-darker: #3ac2cc;
$primary-lighter: #b5e2ef;
$black: #000;
$white: #fff;
$text-color: rgba(102, 102, 102, 0.85);
$default-layout-header-height: 60px;
$default-layout-width: 1150px;
$default-layout-horizontal-spacer: 24px;
