.register-modal {
  .modal-content {
    width: 600px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;

    .form-input {
      width: 40%;
      margin-top: 0px;
    }
  }
}