@import "../../../style/variable";

.change_password_modal {
  .modal-container.show {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all 0.2s linear;
    z-index: 9999;
  }

  .modal-container.hide {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;

    .modal-content {
      margin-top: 0;
    }
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    background-color: #fff;
    width: 450px;
    transform: translate(-50%, -60%);
    opacity: unset;
    border-radius: 4px;
    margin-top: 40px;
    transition: margin 0.2s linear;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-color: #dadada;
      border-radius: 50%;
      cursor: pointer;

      svg {
        width: 80%;
        height: 100%;
        padding-left: 6px;
      }
    }

    .title {
      font-size: 30px;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
    }

    .form-input {
      position: relative;
      margin-top: 20px;

      input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #000;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        background: transparent;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #000;
        pointer-events: none;
        transition: 0.5s;
      }

      input:valid ~ label,
      input:focus ~ label {
        top: -20px;
        left: 0;
        color: #000;
        font-size: 14px;
      }
    }

    .btn-login {
      background-color: $primary-darker;
      border: none;
      width: 100%;
      outline: none;
      color: #000 !important;
      padding: 8px 0;
      border-radius: 4px;
      transition: background-color linear 0.2s;

      &:hover {
        background-color: rgb(6, 210, 210);
        font-weight: bold;
      }
    }

    .login-footer {
      display: flex;
      flex-direction: column;
      width: fit-content;

      .forgot:hover {
        color: #000;
        cursor: pointer;
        font-weight: bold;
      }

      span {
        margin-top: 10px;

        p {
          cursor: pointer;
        }
      }
    }
  }
}
