.forgot-modal {
  .modal-container.show {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: none;
    z-index: 9999;
  }
  .modal-container.hide {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    .modal-content {
      margin-top: 0;
    }
  }
}
